body {
    background-color: #1a1a1a;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 250%;
    text-align: center;
    color: #0fffa5;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 150%;
    text-align: center;
    color: #0fffa5;
}

h2 a {color: #0fffa5;}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 150%;
    text-align: center;
    color: #0fffa5;
}

.centered-horiz {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.centered-vert {
    vertical-align: center;
    height: 100%;
}

.left {float: left;}
.right {float: right;}

.c5 {width: 20%;}
.c2 {width: 50%;}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    color: #c8c8c8;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

p a {
    color: #c8c8c8;
}

.headerimg {
    width: 32%;
}
.iconimg {
    width: 10%;
}